.gradle/
.kotlin/
**/build/
local.properties
.idea/
*.iml
*.jks
*.keystore
secrets.properties
.tools/
*.log
dist/
.signing/
app/google-services.json
firebase/.firebase/
firebase/node_modules/
firebase/*debug.log
*.service-account.json
